<!DOCTYPE html>
{% extends 'base.html' %}
{% include 'navbar.html' %}

{% block title %}Clients{% endblock %}

{% block content %}
    <h1>Clients</h1>
    </br>
    {% if clients %}
        {% for client in clients %}
             <h3><a href="/clients/{{client.id}}">{{client.firstName}} {{client.lastName}}</a></h3>
             <table class="table">
                 <tr>
                    <td>{{client.birthdate}}</td>
                    <td>{{client.phoneNumber}}</td>
                    <td>{{client.cellNumber}}</td>
                    <td>{{client.email}}</td>
                    <td>{{client.employer}}</td>
                    <td>{{client_insurance.insurance.provider}}</td>
                </tr>
            </table>
        {% endfor %}
    {% else %}
        <p> There is no client information </p>
    {% endif %}
{% endblock %}
