<h1>{{client.firstName}} {{client.lastName}}</h1>
<div class="container">
    <h3>Personal Information</h3>
    <ul>
        <li>Address: {{client.address}}</li>
        <li>Birthday: {{client.birthdate}}</li>
        <li>Gender: {{client.gender}}</li>
    </ul>
</div>
<div class="container">
    <h3>Contact Information</h3>
    <ul>
        <li>Home Phone: {{client.phoneNumber}}</li>
        <li>Cell Phone: {{client.cellNumber}}</li>
        <li>Email: {{client.email}}</li>
    </ul>
</div>
</br>
</br>
<div class="well well-sm">
    <h3>Notes:</h3>
    <p>Client's notes are to be held in here</p>
</div>
